{% extends "::layout_auth.html.twig" %}

{% block stylesheets %}

    {{parent()}}

{% endblock %}


{% block page_class %}auth-page{% endblock %}

{% block page_title %}

    <div class="page-title">
        <h1 class="icon-register">Registration 1</h1>
    </div>

{% endblock %}

{% block fos_user_content %}
    <form action="" method="post">
        {{ form_widget(form._token) }}
        <ul class="form-list">
            <li class="{% if form.username.vars.errors|length %}error{% endif %}">
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, { 'attr': {'placeholder' : 'Username' } }) }}
            </li>

            <li class="{% if form.first_name.vars.errors|length %}error{% endif %}">
                {{ form_errors(form.first_name) }}
                {{ form_widget(form.first_name, { 'attr': {'placeholder' : 'First name' } }) }}
            </li>

            <li class="{% if form.last_name.vars.errors|length %}error{% endif %}">
                {{ form_errors(form.last_name) }}
                {{ form_widget(form.last_name, { 'attr': {'placeholder' : 'Last name' } }) }}
            </li>

            <li class="{% if form.email.vars.errors | length %}error{% endif %}">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { 'attr': {'placeholder' : 'Email' } }) }}
            </li>

            <li class="{% if form.plainPassword.first.vars.errors|length %}error{% endif %}">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder' : 'Enter your password' } }) }}
            </li>

            <li class="{% if form.plainPassword.second.vars.errors|length %}error{% endif %}">
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder' : 'Confirm your password' } }) }}
            </li>

            <li class="buttons-block">
                <button type="submit" class="btn"><span>Register</span></button>
            </li>
        </ul>
    </form>

{% endblock %}
